/*
==========================
Style Reset
==========================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body{
	font-family: 'Open-Sans', sans-serif;
	font-weight: 100;
	
}

/*
================
Header
================
*/

.nav li{
	display: inline-block;
	vertical-align: top;
	padding-right: 15px;
}

.nav{
	padding: 16px 7%;
	background-color: #228dcc;
	font-size: 95%;
}

.nav li a{
	text-decoration: none;
	color: white;
	padding-bottom: 12px;
}

.nav li a:hover{
	border-bottom: 3px solid white;
}

/*
===================
Hello Section
===================
*/

.hello{
	
}

.name{
	padding: 60px 7% 30px 7%;
	background: #0aa1da;
	color: white;
}

.name h1{
	font-size: 240%;
	padding: 10px 0;
	font-weight: 100;
}

.description{
	clear: both;
	padding: 40px 7% 30px 7%;
	background: #6b6f75;
	color: white;
	box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.7);
}

.circle{
	height: 85px;
	width: 85px;
	background: blue;
	border-radius: 50%;
	float: right;
	margin-top: -70px;
}



/*
===============================
1/3 Column Section
===============================
*/

.col-1-3{
	width: 33.33%;
	font-size: 15px;
	float: left;
	padding-bottom: 40px;
}

.personal-table{
	margin-left: 20.5%;
}

tr{
	text-align: left;
}

.personal-table th{
	font-weight: bold;
	padding: 12px 0;
	
}
.personal-table td{
	padding-left: 10px;
}

.personal-table tr{
	border-bottom: .5pt solid grey;
}

h3{
	margin-left: 20.5%;
	font-size: 20px;
	color: #0aa1da;
	padding: 35px 0 15px 0;
}

.progress {
    margin-bottom: 0 !important;
	height: 10px;
}

.progress-bar{
	background: #228dcc;
	
}
.software-table td{
	width: 170px;
	padding-left: 30px;
}

.software-table{
	margin-left: 20.5%;
	font-size: 110%;
}


/*
==================================
Hobby Section
==================================
*/

.grid div{
	display: inline-block;
	vertical-align: top;
}

.hobbies{
	margin-left: 20.5%;
}

.hobby{
	width: 75px;
	height: 75px;
	background: #86abe8;
	border-radius: 50%;
	font-weight: 500;
	font-size: 80%;
	margin: 15px 10px;
}

.hobby i{
	display: table;
  	margin: 10px auto 0 auto;
	color: white!important;
}

.hobby p{
	margin-top: 20px;
}


/*
===================================
2/3 Column Section
===================================
*/

.col-2-3{
	width: 66.66%;
	float: right;
	 -webkit-box-shadow: inset 5px 0px 3px -2px #c3c7cc;
     box-shadow: inset 5px 0px 3px -2px #c3c7cc;
}

.small-circle{
	height: 12px;
	width: 12px;
	background: #0aa1da;
	border-radius: 50%;
	box-shadow: 0px 0px 4px 3px white,
				0px 0px 0px 5px #7fc8e2;
	margin: 8px 8px;
	float: left;
}
.col-2-3 h3{
	margin-left:0;
}

/*
======================================
Work and Education Section
======================================
*/


.work h4, .education h4{
	font-weight: bold;
	font-size: 105%;
	float: left;
	margin-left: 2.5%;	
}

.work h5, .education h5{
	font-weight: bold;
	float: right;
	margin-right: 350px;
	font-size: 85%;
}

.work p, .education p{
	clear: both;
	margin-left: 5.75%;
	padding-bottom: 10px;
	margin-bottom: 20px;
	width: 48%;
	border-bottom: 1px solid #bfc0c1;
}

.work, .education{
	margin-left:5%;
}


/*
=====================================
Professional Skills
=====================================
*/

#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}


/*
=======================================
Social Media Links at the bottom
=======================================
*/

.social{
	background: #0aa1da;
	padding-top: 10px;
	width: 100%;
	height: 150px;;
	clear: both;
	
}

.social i{
	color:white;
	margin: auto;
}

.social-circle{
	margin: 0 5%;
	background: #228dcc;
}

.social .grid{
	vertical-align: top;
	display: block;
	margin-left: 300px;
	
}

